                    /*----------------------------
BASIC SETUP
----------------------------*/
                    
                    * {
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                    }
                    
                    html {
                        background-color: #fff;
                        color: #000;
                        text-rendering: optimizeLegibility;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    
                    .clearfix {
                        zoom: 1
                    }
                    
                    .clearfix::after {
                        content: '.';
                        clear: both;
                        display: block;
                        height: 0;
                        visibility: hidden;
                    }
                    /*----------------------------
REUSABLE COMPONENTS
----------------------------*/
                    
                    .row {
                        max-width: 1140px;
                        margin: 0 auto;
                    }
                    
                    section {
                        padding: 80px 0;
                    }
                    
                    .box {
                        padding: 1%;
                    }
                    /*----TIEUDE----*/
                    
                    h1,
                    h2,
                    h3 {
                        font-weight: 300;
                        text-transform: uppercase;
                    }
                    
                    h1 {
                        line-height: 120%;
                        margin-top: 0;
                        margin-bottom: 20px;
                        color: #fff;
                        font-size: 240%;
                        word-spacing: 4px;
                        letter-spacing: 1px;
                    }
                    
                    h2 {
                        font-size: 180%;
                        word-spacing: 2px;
                        text-align: center;
                        margin-bottom: 30px;
                        letter-spacing: 1px;
                    }
                    
                    h2::after {
                        content: "";
                        display: block;
                        height: 2px;
                        width: 100px;
                        background-color: rgb(228, 131, 21);
                        margin: 0 auto;
                        margin-top: 30px;
                    }
                    
                    h3 {
                        font-size: 110%;
                        margin-bottom: 15px;
                    }
                    /*--------chu-------*/
                    
                    .long-copy {
                        line-height: 145%;
                        width: 70%;
                        margin-left: 15%;
                        text-align: center;
                    }
                    
                    .box p {
                        font-size: 90%;
                        line-height: 145%;
                    }
                    /*----ICONS------*/
                    
                    .icon-big {
                        font-size: 400%;
                        color: rgb(228, 131, 21);
                        margin-bottom: 15px;
                        display: block;
                        margin-left: 80px;
                    }
                    
                    .icon-small {
                        display: inline-block;
                        width: 30px;
                        text-align: center;
                        font-size: 120%;
                        color: rgb(228, 131, 21);
                        margin-right: 10px;
                        /*--------------*/
                        line-height: 120%;
                        vertical-align: middle;
                        margin-bottom: -4px;
                    }
                    /*-----LINK------*/
                    
                    a:link,
                    a:visited {
                        color: rgb(228, 131, 21);
                        text-decoration: none;
                        padding-bottom: 1px;
                        border-bottom: 1px solid rgb(228, 131, 21);
                        transition: border-bottom 0.2s, color 0.2s;
                    }
                    
                    a:hover,
                    a:active {
                        color: #555;
                        border-bottom: 1px solid transparent;
                    }
                    /*-----Buttons---*/
                    
                    .btn:link,
                    .btn:visited {
                        display: inline-block;
                        padding: 10px 30px;
                        font-weight: 300;
                        border-radius: 200px;
                        text-decoration: none;
                        transition: background-color 0.2s, border 0.2s, color 0.2s;
                    }
                    
                    .btn-full:link,
                    .btn-full:visited {
                        background-color: rgb(228, 131, 21);
                        color: #fff;
                    }
                    
                    .btn-ghost:link,
                    .btn-ghost:visited {
                        border: 1px solid rgb(228, 131, 21);
                        color: rgb(228, 131, 21);
                    }
                    
                    .btn:hover,
                    .btn:active {
                        background-color: rgba(228, 131, 21, 0.356);
                    }
                    
                    .btn-full:hover,
                    .btn-full:active {
                        background-color: rgba(228, 131, 21, 0.356);
                    }
                    
                    .btn-ghost:link,
                    .btn-ghost:visited {
                        border: 1px solid rgb(228, 131, 21);
                        color: #fff;
                    }
                    /*----------------------------
HEADER
----------------------------*/
                    
                    .header_1 {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url("img/hero.jpg");
                        background-size: cover;
                        background-position: center;
                        height: 100vh;
                        background-attachment: fixed;
                    }
                    
                    .hero-text-box {
                        position: absolute;
                        width: 1140px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    
                    .logo {
                        height: 100px;
                        width: auto;
                        float: left;
                        margin-top: 20px;
                    }
                    
                    .main-nav {
                        float: right;
                        list-style: none;
                        margin-top: 55px;
                    }
                    
                    .main-nav li {
                        display: inline-block;
                        margin-left: 40px;
                    }
                    
                    .main-nav li a:link,
                    .main-nav li a:visited {
                        padding: 8px 0;
                        color: #fff;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 90%;
                        border-bottom: 2px solid transparent;
                        transition: 0.2s;
                    }
                    
                    .main-nav li a:hover,
                    .main-nav li a:active {
                        border-bottom: 2px solid rgb(228, 131, 21);
                    }
                    /*----------------------------
MEALS
----------------------------*/
                    
                    .section-meals {
                        padding: 0;
                    }
                    
                    .meals-showcase {
                        list-style: none;
                        width: 100%;
                    }
                    
                    .meals-showcase li {
                        display: block;
                        float: left;
                        width: 25%;
                    }
                    
                    .meal-photo {
                        width: 100%;
                        margin: 0;
                        overflow: hidden;
                        background-color: #000;
                    }
                    
                    .meal-photo img {
                        opacity: 0.7;
                        width: 100%;
                        height: auto;
                        transform: scale(1.15);
                        transition: transform 0.5s, opacity 0.5s;
                    }
                    
                    .meal-photo img:hover {
                        opacity: 1;
                        transform: scale(1.03);
                    }
                    /*----------------------------
HOW IT WORD
----------------------------*/
                    
                    .steps-box:first-child {
                        text-align: right;
                        padding-right: 3%;
                        margin-top: 30px;
                    }
                    
                    .steps-box:last-child {
                        padding-left: 3%;
                        margin-top: 70px;
                    }
                    
                    .app-screen {
                        width: 40%;
                    }
                    
                    .word-step {
                        margin-bottom: 50px;
                    }
                    
                    .word-step:last-of-type {
                        margin-bottom: 80px;
                    }
                    
                    .word-step div {
                        color: rgb(228, 131, 21);
                        border: 2px solid rgb(228, 131, 21);
                        display: inline-block;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        padding: 5px;
                        float: left;
                        font-size: 150%;
                        margin-right: 25px;
                    }
                    
                    .btn-app:link,
                    .btn-app:visited {
                        border: 0;
                    }
                    
                    .btn-app img {
                        height: 50px;
                        width: auto;
                        margin-right: 10px;
                    }
                    /*----------------------------
CITIES
----------------------------*/
                    
                    .box img {
                        width: 100%;
                        height: auto;
                        margin-bottom: 15px;
                    }
                    
                    .cities-feature {
                        margin-bottom: 5px;
                    }
                    /*----------------------------
testimonials
----------------------------*/
                    
                    .section-testimonials {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url('img/back-customers.jpg');
                        background-size: cover;
                        color: #fff;
                        background-attachment: fixed;
                    }
                    
                    blockquote {
                        padding: 4%;
                        font-style: italic;
                        line-height: 145%;
                        position: relative;
                    }
                    
                    blockquote::before {
                        content: '\201C';
                        font-size: 400%;
                        position: absolute;
                        top: 0;
                        left: 10px;
                    }
                    
                    cite {
                        font-size: 95%;
                        margin-top: 25px;
                        display: block;
                    }
                    
                    cite img {
                        width: 50px;
                        border-radius: 50%;
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                    /*----------------------------
ourchef
----------------------------*/
                    
                    .ourchef {
                        font-size: 120%;
                        line-height: 145%;
                        text-align: center;
                        border: 1.2px solid rgba(179, 177, 177, 0.42);
                    }
                    
                    .ourchef:last-of-type {
                        padding-bottom: 22px;
                    }
                    
                    .outcheft img {
                        filter: none;
                        width: 100%;
                    }
                    
                    .ourchef:hover {
                        background-color: rgb(228, 131, 21);
                        color: #fff;
                        border: 1.2px solid rgb(228, 131, 21);
                    }
                    /*----------------------------
FOOTER
----------------------------*/
                    
                    footer {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url('img/footer_bg_2.jpg');
                        background-size: cover;
                        color: rgba(255, 255, 255, 0.651);
                        background-attachment: fixed;
                        height: 80vh;
                        font-size: 98%;
                    }
                    
                    .footer_center {
                        text-align: center;
                        padding: 80px 0;
                        border-bottom: 1.5px solid rgba(85, 85, 85, 0.493);
                    }
                    
                    .footer_center img {
                        width: 130px;
                        height: auto;
                        margin-bottom: 30px;
                    }
                    
                    .footer_center p {
                        margin: 10px 0 20px 0;
                        font-size: medium;
                    }
                    
                    footer .footer_center a:link,
                    footer .footer_center a:visited {
                        display: block;
                        text-decoration: none !important;
                        border-bottom: 0px;
                        margin-bottom: 15px;
                    }
                    
                    .footer_center ul {
                        font-size: 150%;
                        display: inline-flex;
                        list-style: none;
                    }
                    
                    .footer_center ul li {
                        margin: 40px 20px 0 20px;
                    }
                    /*-------------------------------------------------------------------------------------------
---------------------------------ABOUT-------------------------------------------------------
-------------------------------------------------------------------------------------------*/
                    
                    .header_2 {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.8)), url("img/header2.jpg");
                        background-size: cover;
                        background-position: bottom center;
                        height: 60vh;
                        background-attachment: fixed;
                    }
                    
                    .hero-text-box-ab {
                        position: absolute;
                        width: 1140px;
                        top: 30%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        font-size: 200%;
                    }
                    
                    .box-about img {
                        width: 124%;
                        height: auto;
                    }
                    
                    section.sectin-about {
                        margin-bottom: -104px;
                        /* border-bottom: 1px solid; */
                    }
                    
                    .discover {
                        background-color: #fff;
                        font-size: 100%;
                        height: 408px;
                        margin-top: 79px;
                        padding-left: 38px;
                        padding-top: 42px;
                    }
                    
                    .right {
                        text-align: right;
                        position: absolute;
                        right: 445px;
                        padding: 70px 46px 0px 148px;
                    }
                    
                    .span-about {
                        font-family: MyFont, cursive, sans-serif;
                        font-size: 69px;
                        line-height: 50px;
                        color: #cfa670;
                        font-style: italic;
                    }
                    
                    .discover h3 {
                        font-size: 365%;
                        line-height: 67%;
                        font-family: -webkit-body
                    }
                    
                    .discover .ultimate {
                        font-size: 80%;
                    }
                    
                    .discover .copy-about {
                        margin-top: 7px;
                        font-size: 92%;
                        line-height: 147%;
                        text-align: justify;
                    }
                    
                    section.sectin-about .discover a.btn.btn-ghost {
                        color: #000;
                        border-radius: 0;
                        margin-top: 23px;
                        border: 2px solid rgb(228, 131, 21);
                    }
                    /*-------------------------------------------------------------------------------------------
---------------------------------BLOGS-------------------------------------------------------
-------------------------------------------------------------------------------------------*/
                    
                    .section-blog {
                        font-size: 95%;
                        line-height: 150%;
                        /* padding: 10px 0; */
                    }
                    
                    .section-blog p {
                        margin: 10px 0 10px 0;
                        padding-top: 0.5em;
                        padding-bottom: 0.5em;
                        font-family: Lato, Helvetica, Arial, sans-serif;
                    }
                    
                    .section-blog img {
                        width: 97%;
                        height: auto;
                        padding: 25px 0;
                    }
                    
                    .blog-top p:last-of-type {
                        border-bottom: 1px solid #6767674d;
                        padding-bottom: 52px;
                    }
                    
                    .blog-bottom {
                        width: 100%;
                        padding: 25px 0;
                    }
                    
                    .blog-bottom h4 {
                        margin: 25px 0;
                    }
                    
                    .blog-bottom img {
                        width: 70px;
                        height: 70px;
                        vertical-align: middle;
                        margin: 10px 10px 10px 26px;
                        padding: 0;
                    }
                    
                    .blog-bottom ul li {
                        list-style: none;
                        font-size: 95%;
                        border: 1px solid#6767674d;
                        width: 49%;
                        display: inline-block;
                        margin: 6px 3px;
                    }
                    
                    .container {
                        width: 100%;
                        margin: auto;
                        border-radius: 5px;
                    }
                    
                    input[type=text] {
                        width: 32%;
                        padding: 12px;
                        margin-right: 7.9px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        margin-top: 6px;
                        margin-bottom: 16px;
                        resize: vertical;
                    }
                    
                    input[type=submit] {
                        background-color: #fff;
                        color: black;
                        padding: 12px 20px;
                        border: 1.5px solid rgb(228, 131, 21);
                        border-radius: 4px;
                        cursor: pointer;
                        margin-top: 10px;
                    }
                    
                    input[type=submit]:hover {
                        background-color: rgb(228, 131, 21);
                        color: #fff;
                    }
                    
                    textarea {
                        width: 100%;
                        height: 135px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        padding: 12px;
                    }
                    /*----------------------------
Blog right
----------------------------*/
                    
                    .blog-right {
                        font-size: 95%;
                        line-height: 150%;
                    }
                    
                    .blog-right p {
                        margin: 10px 0 10px 0;
                        padding-top: 0.5em;
                        padding-bottom: 0.5em;
                        font-family: Lato, Helvetica, Arial, sans-serif;
                    }
                    
                    .blog-right ul {
                        margin: 15px 0;
                    }
                    
                    .blog-right ul li {
                        list-style: none;
                        border-bottom: 1px solid #6767674d;
                        padding: 10px 0;
                        /* margin: 15px 0; */
                    }
                    /*--------------------------------------------------------------------------------
        --------------------------------ODER----------------------------------------------
        --------------------------------------------------------------------------------*/
                    
                    .header_3 {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url("img/oder.jpg");
                        background-size: cover;
                        background-position: center;
                        height: 60vh;
                        background-attachment: fixed;
                    }
                    
                    @font-face {
                        font-family: MyFont;
                        src: url(font/HerrVonMuellerhoff-Regular.ttf);
                    }
                    
                    .Reservation h2 {
                        color: #d0963e;
                        font-family: MyFont, cursive;
                        font-size: 70px;
                        margin: 0;
                        padding: 0 10px;
                        text-transform: capitalize;
                        letter-spacing: 2px;
                        font-style: italic;
                    }
                    
                    .Reservation h2::after {
                        content: "";
                        display: block;
                        height: 1.5px;
                        width: 67px;
                        background-color: rgb(228, 131, 21);
                        margin: 0 auto;
                        margin-top: -23px;
                    }
                    
                    .Reservation h3 {
                        font-size: 188%;
                        text-align: center;
                        font-weight: 500;
                        margin-top: 10px;
                    }
                    
                    .row_input {
                        width: 780px;
                        margin: auto;
                    }
                    
                    .row_input .container {
                        width: 100%;
                        margin: auto;
                        border-radius: 5px;
                    }
                    
                    .row_input input[type=text] {
                        width: 97%;
                        padding: 12px;
                        margin-right: 7.9px;
                        border-radius: 0;
                        box-sizing: border-box;
                        margin-top: 6px;
                        margin-bottom: 16px;
                        resize: vertical;
                        border: none;
                        border-bottom: 1px dashed;
                        opacity: 0.5;
                    }
                    
                    .row_input input[type=submit] {
                        background-color: #fff;
                        color: black;
                        padding: 12px 100px;
                        border: 2px solid rgb(228, 131, 21);
                        border-radius: 0;
                        cursor: pointer;
                        margin-top: 35px;
                        text-align: center;
                        margin-left: 240px;
                    }
                    
                    .row_input input[type=submit]:hover {
                        background-color: rgb(228, 131, 21);
                        color: #fff;
                    }
                    
                    .row_input textarea {
                        width: 100%;
                        height: 135px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        padding: 12px;
                        border: none;
                        border-bottom: 1px dashed;
                        opacity: 0.5;
                    }
                    
                    .input_position {
                        position: relative;
                    }
                    
                    .icon_input {
                        position: absolute;
                        top: 20px;
                        left: 348px;
                    }
                    
                    .row_input .col {
                        display: block;
                        float: left;
                        margin: 0;
                        margin-right: 5px;
                        margin-bottom: 14px;
                    }
                    
                    .row_input p {
                        text-align: center;
                        margin-top: 41px;
                        font-size: 88%;
                        margin-bottom: 90px;
                    }
                    
                    .party h3 {
                        font-size: 120%;
                        font-weight: 600;
                    }
                    
                    .party p {
                        font-size: 90%;
                        text-align: justify;
                        line-height: 22px;
                    }
                    /*--------------------------------------------------------------------------------
        --------------------------------MENU----------------------------------------------
        --------------------------------------------------------------------------------*/
                    
                    .menu {
                        background-color: #f4f4f4;
                    }
                    
                    .section-menu {
                        margin-top: 85px;
                    }
                    
                    .me h3 {
                        line-height: 85%;
                    }
                    
                    .me .copy-about {
                        width: 415px;
                    }
                    
                    .food-menu {
                        display: inline-block;
                        font-size: 120%;
                        font-style: oblique;
                        font-family: cursive;
                        width: 100%;
                    }
                    
                    .food-detail {
                        display: inline-block;
                        margin: 16px 0px;
                        width: 24%;
                    }
                    
                    .food-detail h3 {
                        font-size: 23px;
                        margin-left: 32px;
                    }
                    
                    .food-detail span {
                        color: #cfa670;
                        margin-left: 40px;
                    }